extends layout

block jsheader
    script.
        var BlueboxNocApp = angular.module("BlueboxNocApp", ["ng-admin"]);
        // https://github.com/marmelab/ng-admin
        BlueboxNocApp.config(function (NgAdminConfigurationProvider, Application, Entity, Field, Reference, ReferencedList, ReferenceMany) {
            // set the main API endpoint for this admin
            var app = new Application('BlueBoxAPI');
            var vpn = new Entity('./api/vpn')
                    .label("VPNs")
                    .identifier(new Field('id'));
            app.addEntity(vpn);
            vpn.dashboardView().title("VPNs").fields([new Field("title").isDetailLink(true)]);
            NgAdminConfigurationProvider.configure(app);
        });

block content
  h1= title
  p Welcome to #{title}
  div(ui-view)
