extends layout

block jsheader
    script.
        var BlueboxNocApp = angular.module("BlueboxNocApp", ["ng-admin"]);
        // https://github.com/marmelab/ng-admin
        BlueboxNocApp.config(function (NgAdminConfigurationProvider, Application, Entity, Field, Reference, ReferencedList, ReferenceMany) {
            // set the main API endpoint for this admin
            var rootUrl = (location.protocol + '//' + location.hostname +
                (location.port ? ':' + location.port : ''));
            var app = new Application('BlueBoxAPI').baseApiUrl(rootUrl + "/api/");
            var vpn = new Entity('vpn')
                    .label("VPNs")
                    .identifier(new Field('title'));
            app.addEntity(vpn);
            vpn.dashboardView().title("VPNs").fields([new Field("detail").isDetailLink(true)]);
            NgAdminConfigurationProvider.configure(app);
            vpn.editionView().title("VPN {{entry.values.title}}")
                    .actions(["list", "show", "delete"])
                    .fields(vpn.dashboardView().fields());
            vpn.creationView().fields(vpn.dashboardView().fields());
            vpn.listView().fields(vpn.dashboardView().fields());
            vpn.showView().fields(vpn.dashboardView().fields());
        });

block content
  h1= title
  p Welcome to #{title}
  div(ui-view)
