body {
  padding: 5px 50px 50px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#content {
    position: relative;
}
.logo {
    position:absolute;
    top:0;
    right:0;
    z-index:1001;
}
a {
    color: #00B7FF;
}
h1 {
    line-height: 100px;
}
.bboxes_tag span.label.label-default.ng-binding {
    background: url(/images/blue_cube20.png) left top;
    color: black;
    display: block;
    float: left;
    background-repeat: no-repeat;
    padding-left: 25px;
}